beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
contourpy
cycler
Flask
fonttools
gunicorn
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
narwhals
nltk
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
pytz
regex
requests
scikit-learn
scipy
six
soupsieve
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wordcloud
streamlit
imghdr